body {

    background-color: darkgrey;
    color: black;
}    

#bobo {

    text-align: center;
}

#kebab, 
#tikka,
#biryani {

    font-size: 24px;
    color: black;
    background-color: beige ;
}

#bb,
#kk,
#ct {

    background-color: darkgrey;
    color: black;
}